
    <meta charset="UTF-8">
    <title>My_Schedules</title>


    <!-- Container -->
    <div id="container">

            <!-- Header -->
            <div id="header">
                <div id="branding">

                     <h1 id="site-name"><a href="">My_Schedules</a></h1>

                </div>


                <div id="user-tools">

                        Bem-Vindo,
                        <strong>

                        </strong>.

                        <a href="/admin/password_change/">Alterar senha</a> /
                        <a href="/logout">Sair</a>
                </div>

            </div>
    </div>